
.root{
-fx-background-color: #FFFFFF; //hvítur

-fx-dokk-graenn: #408156; //dökkgrænn

-fx-ljos-blar: #6a9b86; //ljósgrænn

-fx-ljos-grar: #3B3B3B; //grár

-fx-ljos-gulur: #FFE38E; //gulur

-fx-gra-blar: #DAEAEC; //gráblár

-fx-ljos-skuggi-takkar: radial-gradient(focus-angle 10deg , focus-distance 20% , center 55% 58% , radius 62% , #408156 85%, #C8F6FF);

    -fx-skuggi-takkar: dropshadow(gaussian , rgba(109, 159, 166) , 2 , 0.1 , 2.5 , 2.5 );
}

.fxmainMenuAdal{
    -fx-background-image: url("../images/kastalinnnn.png");
    -fx-background-size: 100%, 100%;
    -fx-background-repeat: no-repeat;
}
.fxTopBar{
    -fx-background-image: url("../images/classy-blob.png");
    -fx-background-size: 100%, 100%;
    -fx-background-repeat: no-repeat;
}
.fxTopBarHljod{
    -fx-background-color: radial-gradient(focus-angle 10deg , focus-distance 20% , center 55% 58% , radius 62% , #408156 85%, #C8F6FF); //ljósblár
-fx-background-radius: 25; //hringur
-fx-effect: dropshadow(gaussian , #346946 , 2 , 0.1 , 2.5 , 2.5 ); //skuggi
-fx-background-image: url("../images/sound-play.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%, 70%;
}
.fxTopBarHljod:selected{
    -fx-background-image: url("../images/sound-mute.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%, 70%;
}
.fxheimaTakki{
    -fx-background-color: radial-gradient(focus-angle 10deg , focus-distance 20% , center 55% 58% , radius 62% , #408156 85%, #C8F6FF); //ljósblár
-fx-effect: dropshadow(gaussian , #346946 , 2 , 0.1 , 2.5 , 2.5 ); //skuggi
-fx-background-radius: 25; //hringur
-fx-background-image: url("../images/home_icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%, 70%;
}
.fxthemeMenu {
    -fx-background-color: #FFE38E;//gulur
-fx-background-radius: 0; //hringur

}
.fxtitleBar{
    -fx-background-color: #3B3B3B; //grár
-fx-background-radius: 0; //hringur
}
.fxmainMenuTakki{
    -fx-background-color: #408156; //ljósblár
-fx-background-radius: 10; //hringur
-fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 8.5 );
    -fx-transition: 0.15s;
}
.fxmainMenuTakki:hover{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 6.5 );
}
.fxmainMenuTakki:pressed{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 1 );
}
.fxpedIcon{
    -fx-background-color: #FFE38E; //hvítur
-fx-background-image: url("../images/logo-ped.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 85%,85%;
}
.fxcloseButton{
    -fx-background-color: #3B3B3B; //ljósgrár
-fx-background-radius: 0; //hringur
-fx-background-image: url("../images/close-icon.png");
    -fx-background-size: 17px, 17px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.fxcloseButton:hover{
    -fx-background-color: #FF3B3B; //ljósgrár
}
.fxminimizeButton{
    -fx-background-color: #3B3B3B; //ljósgrár
-fx-background-radius: 0; //hringur
-fx-background-image: url("../images/minimize-icon.png");
    -fx-background-size: 15px, 15px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.fxminimizeButton:hover{
    -fx-background-color: #575757; //ljósljósgrár
}
.fxfullscreenButton{
    -fx-background-color: #3B3B3B; //ljósgrár
-fx-background-radius: 0; //hringur
-fx-background-image: url("../images/full-screen-icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 15px, 15px;
}
.fxfullscreenButton:selected{
    -fx-background-image: url("../images/full-screen-exit-icon.png");
}
.fxfullscreenButton:hover{
    -fx-background-color: #575757; //ljóljósgrár
}
.fxTopBarLogo {
    -fx-background-image: url("../images/TopBarNyttlogo.png");
    -fx-background-position: bottom;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 95%, 95%;
}
.fxerfittTakki{
    -fx-background-color: #FF3B3B; //rauður
    -fx-background-radius: 20; //hringur
    -fx-effect: dropshadow(gaussian , #BF2C2C , 0 , 1 , 0 , 8.5 );
    -fx-background-image: url("../images/erfitt.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%, 80%;

}
.fxerfittTakki:hover{
    -fx-effect: dropshadow(gaussian , #BF2C2C , 0 , 1 , 0 , 6.5 );
}
.fxerfittTakki:pressed{
    -fx-effect: dropshadow(gaussian , #BF2C2C , 0 , 1 , 0 , 1 );
}
.fxaudveltTakki{
    -fx-background-color: #408156; //ljósblár
-fx-background-radius: 20; //hringur
-fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 8.5 );
    -fx-background-image: url("../images/audvelt.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%, 70%;
}
.fxaudveltTakki:hover{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 6.5 );
}
.fxaudveltTakki:pressed{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 1 );
}
.fxTimerBackground{
    -fx-background-color: #91D5DD; //ljósblár
-fx-background-size: 80%, 80%;
}
.fxTimerBackground2{
    -fx-background-color: #71a7ad; //ljósblár
}
.fxSelectedPiece{
    -fx-background-color: #659499; //gulur
}
.fxMogulegtMoveDokkur{
    -fx-background-color: #76ACB3; //gulur
}
.fxSvarturReitur{
    -fx-background-color: #FFE38E; //gulur
}
.fxMogulegtcMoveLjos{
    -fx-background-color: #91D5DD; //gulur
}
.fxHviturReitur{
    -fx-background-color: #FFFFFF; //hvítur
}

.fxTextiMainEda{
    -fx-background-image: url("../images/edaMainMenu.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%, 100%;
}
.fxTextMainViltuSpila{
    -fx-background-image: url("../images/mainMenuViltuSpila.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%, 100%;
}
.fxmainMenuTakkiTolvu{
    -fx-background-color: #408156; //ljósblár
-fx-background-radius: 10; //hringur
-fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 8.5 );
    -fx-background-image: url("../images/tolvutextumainmenu.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%, 100%;
}
.fxmainMenuTakkiTolvu:hover{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 6.5 );
}
.fxmainMenuTakkiTolvu:pressed{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 1 );
}
.fxmainMenuTakkiVin{
    -fx-background-color: #408156; //ljósblár
-fx-background-radius: 10; //hringur
-fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 8.5 );
    -fx-background-image: url("../images/mainMenuTakkiVin.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%, 100%;
}
.fxmainMenuTakkiVin:hover{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 6.5 );
}
.fxmainMenuTakkiVin:pressed{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 1 );
}
