root{
    -fx-background-color: #FFFFFF; //hvítur
}
.eithha{
-fx-graenn: #408156; //grænn
-fx-ljos-graenn: #6a9b86; //ljósgrænn
-fx-ljos-grar: #3B3B3B; //grár
-fx-ljos-brunn: #A98E7E; //ljósbrúnn
-fx-dokk-graenn: #346946; //dökkgrænn
-fx-dokk-brunn: #715A58; //dökkbrúnn
-fx-ljos-skuggi-takkar: radial-gradient(focus-angle 10deg , focus-distance 20% , center 55% 58% , radius 62% , #408156 85%, #C8F6FF);
-fx-skuggi-takkar: dropshadow(gaussian , rgba(109, 159, 166) , 2 , 0.1 , 2.5 , 2.5 );
}

.fxmainMenuAdal{
    -fx-background-image: url("../myndir/kastalinnnn.png");
    -fx-background-size: 100%, 100%;
    -fx-background-repeat: no-repeat;
}
.fxTopBar{
    -fx-background-color: #FFFFFF; //hvitur
    -fx-background-image: url("../myndir/classy-blob.png");
    -fx-background-size: 100%, 100%;
    -fx-background-repeat: no-repeat;
}
.fxTopBarLogo {
    -fx-background-image: url("../myndir/TopBarNyttlogo.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 95%, 95%;
}
.fxTopBarHljod{
    -fx-background-color: radial-gradient(focus-angle 10deg , focus-distance 20% , center 55% 58% , radius 62% , #408156 85%, #C8F6FF); //ljósgrænn
    -fx-background-radius: 200; //hringur
    -fx-effect: dropshadow(gaussian , #346946 , 2 , 0.1 , 2.5 , 2.5 ); //dökkgrænn
    -fx-background-image: url("../myndir/sound-play.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%, 70%;
}
.fxTopBarHljod:selected{
    -fx-background-image: url("../myndir/sound-mute.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%, 70%;
}
.fxheimaTakki{
    -fx-background-color: radial-gradient(focus-angle 10deg , focus-distance 20% , center 55% 58% , radius 62% , #408156 85%, #C8F6FF); //ljósgrænn
    -fx-effect: dropshadow(gaussian , #346946 , 2 , 0.1 , 2.5 , 2.5 ); //dökkgrænn
    -fx-background-radius: 200; //hringur
    -fx-background-image: url("../myndir/home_icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%, 70%;
}
.fxTextiMainEda{
    -fx-background-image: url("../myndir/edaMainMenu.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%, 100%;
}
.fxTextMainViltuSpila{
    -fx-background-image: url("../myndir/mainMenuViltuSpila.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%, 100%;
}
.fxmainMenuTakkiTolvu{
    -fx-background-color: #408156; //grænn
    -fx-background-radius: 10; //hringur
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 8.5 );//dökkgrænn
    -fx-background-image: url("../myndir/tolvutextumainmenu.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%, 100%;
}
.fxmainMenuTakkiTolvu:hover{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 6.5 );//dökkgrænn
}
.fxmainMenuTakkiTolvu:pressed{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 1 );//dökkgrænn
}
.fxmainMenuTakkiVin{
    -fx-background-color: #408156; //grænn
    -fx-background-radius: 10; //hringur
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 8.5 );//dökkgrænn
    -fx-background-image: url("../myndir/mainMenuTakkiVin.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%, 100%;
}
.fxmainMenuTakkiVin:hover{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 6.5 );//dökkgrænn
}
.fxmainMenuTakkiVin:pressed{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 1 );//dökkgrænn
}
.fxHvorViltuTexti{
    -fx-background-image: url("../myndir/hvorViltuTexti.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%, 100%;
}
.fxmainMenuTexti{
    -fx-background-image: url("../myndir/HversuLanganTexti.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%, 100%;
}


.fxtitleBar{
    -fx-background-color: #3B3B3B; //grár
    -fx-background-radius: 0; //hringur
}
.fxthemeMenu {
    -fx-background-color: #A98E7E;//ljósbrúnn
    -fx-background-radius: 0; //hringur
}
.fxpedIcon{
    -fx-background-color: #A98E7E; //ljósbrúnn
    -fx-background-image: url("../myndir/logo-ped.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 85%,85%;
}
.fxcloseButton{
    -fx-background-color: #3B3B3B; //ljósgrár
    -fx-background-radius: 0;
    -fx-background-image: url("../myndir/close-icon.png");
    -fx-background-size: 17px, 17px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.fxcloseButton:hover{
    -fx-background-color: #FF3B3B; //ljósgrár
}
.fxminimizeButton{
    -fx-background-color: #3B3B3B; //ljósgrár
    -fx-background-radius: 0; //hringur
    -fx-background-image: url("../myndir/minimize-icon.png");
    -fx-background-size: 15px, 15px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.fxminimizeButton:hover{
    -fx-background-color: #575757; //ljósljósgrár
}
.fxfullscreenButton{
    -fx-background-color: #3B3B3B; //ljósgrár
-fx-background-radius: 0; //hringur
-fx-background-image: url("../myndir/full-screen-icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 15px, 15px;
}
.fxfullscreenButton:hover{
    -fx-background-color: #575757;//ljóljósgrár
}
.fxfullscreenButton:selected{
    -fx-background-image: url("../myndir/full-screen-exit-icon.png");
}

.fxerfittTakki{
    -fx-background-color: #FF3B3B; //rauður
    -fx-background-radius: 20; //hringur
    -fx-effect: dropshadow(gaussian , #BF2C2C , 0 , 1 , 0 , 8.5 );//dökkurRauður
    -fx-background-image: url("../myndir/erfitt.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%, 80%;
}
.fxerfittTakki:hover{
    -fx-effect: dropshadow(gaussian , #BF2C2C , 0 , 1 , 0 , 6.5 );//dökkurRauður
}
.fxerfittTakki:pressed{
    -fx-effect: dropshadow(gaussian , #BF2C2C , 0 , 1 , 0 , 1 );//dökkurRauður
}
.fxaudveltTakki{
    -fx-background-color: #408156; //ljósgrænn
    -fx-background-radius: 20; //hringur
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 8.5 );//dökkurGrænn
    -fx-background-image: url("../myndir/audvelt.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%, 70%;
}
.fxaudveltTakki:hover{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 6.5 );//dökkurGrænn
}
.fxaudveltTakki:pressed{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 1 );//dökkurGrænn
}


.fxTimerBackground{
    -fx-background-color: #A98E7E; //ljósbrúnn
    -fx-background-size: 80%, 80%;
}
.fxSelectedPiece{
    -fx-background-color: #456658; //dökkdökkgrænn
}
.fxMogulegtMoveDokkur{
    -fx-background-color: #6a9b86; //ljosgrænn
}
.fxSvarturReitur{
    -fx-background-color: #715A58; //dökkbrúnn
}
.fxMogulegtcMoveLjos{
    -fx-background-color: #8ed4b6; //ljosljosgrænn
}
.fxHviturReitur{
    -fx-background-color: #d4baab; //ljosljosbrúnn
}

.fx10minTakki{
    -fx-background-color: #408156; //grænn
    -fx-background-radius: 10; //hringur
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 8.5 );//dökkgrænn
    -fx-background-image: url("../myndir/10minText.png");
    -fx-background-size: 100%, 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-transition: 0.15s;
}
.fx10minTakki:hover{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 6.5 );//dökkgrænn
}
.fx10minTakki:pressed{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 1 );//dökkgrænn
}
.fx5minTakki{
    -fx-background-color: #408156; //ljósgrænn
    -fx-background-radius: 10; //hringur
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 8.5 );//dökkgrænn
    -fx-background-image: url("../myndir/5minText.png");
    -fx-background-size: 100%, 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-transition: 0.15s;
}
.fx5minTakki:hover{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 6.5 );//dökkgrænn
}
.fx5minTakki:pressed {
    -fx-effect: dropshadow(gaussian, #346946, 0, 1, 0, 1);//dökkgrænn
}
.fx3minTakki{
    -fx-background-color: #408156; //ljósgrænn
    -fx-background-radius: 10; //hringur
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 8.5 );//dökkgrænn
    -fx-background-image: url("../myndir/3minTexti.png");
    -fx-background-size: 100%, 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-transition: 0.15s;
}
.fx3minTakki:hover{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 6.5 );//dökkgrænn
}
.fx3minTakki:pressed{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 1 );//dökkgrænn
}
.fx1minTakki{
    -fx-background-color: #408156; //ljósgrænn
    -fx-background-radius: 10; //hringur
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 8.5 );//dökkgrænn
    -fx-background-image: url("../myndir/1minTexti.png");
    -fx-background-size: 100%, 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-transition: 0.15s;
}
.fx1minTakki:hover{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 6.5 );//dökkgrænn
}
.fx1minTakki:pressed{
    -fx-effect: dropshadow(gaussian , #346946 , 0 , 1 , 0 , 1 );//dökkgrænn
}

.fxTimaBakk{
    -fx-background-color: #FFFFFF; //hvítur
}
.fxerfileikaBakk{
    -fx-background-color: #FFFFFF; //hvítur
}
.fxSkakSenaBakkgrunnur{
    -fx-background-color: #FFFFFF; //hvítur
}