.root{
    -fx-background-color: #a6e2f7; //ljósblár
    -fx-font-family: "Impact";
}

.button{
    -fx-background-color: #faa12d; //appelsínugulur
    -fx-text-fill: #a6e2f7;
    -fx-font-family: "Impact";
}


.label{
    -fx-text-fill: #4d4c4c; //dökkgrár
    -fx-font-family: "Impact";
}

.menu{
    -fx-text-fill: #a6e2f7;
    -fx-background-color: #faa12d; //appelsínugulur
 }

.mynd{
    -fx-background-image: url("home_icon.png");
        -fx-background-size: 100%, 100%;
}

